.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.container {
  margin-top: 20px;
}

.primary-col {
  border-right: 1px solid rgba(0,0,0,.125);
}

.btn {
  cursor: pointer;
}

.d-inline-flex .badge {
  line-height: unset;
}

.panel-title {
}

.goal-item .progress {
  height: 10px;
  border-radius: 0;
}

.goal-name-literal {
  text-align: left;
  font-size: 17px;
}

.goal-name-literal sup {
}

footer {
  margin-top: 10px;
  padding: 15px;
  color: white;
  background-color: #222;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
